<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomConfiguration" type="CustomConfigurationManager.CustomConfigurationSection, CustomConfigurationManager "/>
  </configSections>
  <CustomConfiguration>
   <ServersSection Parallelism="3" ParallelEnabled="true">
      <Servers>
        <Server>
          <Name>mskdmsbt269</Name>
        </Server>
        <Server>
          <Name>cf-calc3</Name>
        </Server>
      </Servers>
    </ServersSection>
      <OtherName>
          <Param1>1</Param1>
          <Param2>Param22</Param2>
      </OtherName>
  </CustomConfiguration>
</configuration>